 <section id="catalog">
        <h1>All Movies</h1>
        <div class="band">
            {{> catalog}}
            <!-- If there are posts for creature in the database display each of them -->
            
            <!-- If there are still no posts in the database display: -->
        </div>
</section>
 
        